body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #2b2b2b;
  line-height: 1.6;
}

.hero {
  background: #2f5d3a;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.logo {
  max-width: 140px;
  margin-bottom: 40px;
}

section {
  padding: 20px 10px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #2f5d3a;
}

ul {
  list-style: square;
  padding-left: 20px;
}

.buttons {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background: #4caf50;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 4px;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
}

footer {
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;.gallery {
    padding: 40px 20px;
    text-align: center;
}

.gallery .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    max-width: 420px;
    width: 65%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);  
}
